In [24]:
import pandas as pd
data = [
    ['Afghanistan', 'Asia', 652230, 25500100, 20343000000],
    ['Albania', 'Europe', 28748, 2831741, 12960000000],
    ['Algeria', 'Africa', 2381741, 37100000, 188681000000],
    ['Andorra', 'Europe', 468, 78115, 3712000000],
    ['Angola', 'Africa', 1246700, 20609294, 100990000000]
]
world = pd.DataFrame(data, columns=['name', 'continent', 'area', 'population', 'gdp'])

In [23]:
big_countries = world[(world['area'] >= 3000000) | (world['population'] >= 25000000)]
result = big_countries[['name', 'population', 'area']]
result

          name  population     area
0  Afghanistan    25500100   652230
2      Algeria    37100000  2381741

Los paises considerados 'big countries' son: 
- Afghanistan: Cumple con la poblacion (25.5M > 25M)
- Algeria: Cumple con la poblacion (37.1M > 25M)

Nota: Angola casi califica (20.6M de poblaci√≥n)