1757. Recyclable and Low Fat Products

In [ ]:
import pandas as pd

data = {
    'product_id': [0, 1, 2, 3, 4],
    'low_fats': ['Y', 'Y', 'N', 'y', 'N'],
    'recyclable': ['N', 'y', 'Y', 'Y', 'N']
}
products = pd.DataFrame(data)
products

   product_id low_fats recyclable
0           0        Y          N
1           1        y          y
2           2        N          Y
3           3        y          y
4           4        N          N

In [ ]:
filtred_products = products[((products['low_fats'] == 'Y') | (products['low_fats']=='y')) & ((products['recyclable'] == 'Y') | (products['recyclable']=='y'))]
filtred_products

   product_id low_fats recyclable
1           1        y          y
3           3        y          y

Se agregaron comparaciones para que no importara si es mayuscula o minuscula